# OS
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
.cursor/
*.swp
*.swo

# Env / secrets
.env
.env.local
*.local

# Build / output
dist/
dist-ssr
build/
*.log
node_modules
.pnpm-store/

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
